services:
  redis-master-1:
    container_name: redis-master-1
    image: redis:latest
    command: >
      sh -c 'echo "bind 0.0.0.0" > /etc/redis.conf &&
            echo "port 7001" >> /etc/redis.conf &&
            echo "cluster-enabled yes" >> /etc/redis.conf &&
            echo "cluster-config-file node.conf" >> /etc/redis.conf &&
            echo "cluster-node-timeout 5000" >> /etc/redis.conf &&
            echo "cluster-announce-port 7001" >> /etc/redis.conf &&
            echo "cluster-announce-ip ${HOST_IP}" >> /etc/redis.conf &&
            echo "cluster-announce-bus-port 17001" >> /etc/redis.conf &&
            redis-server /etc/redis.conf'
    ports:
      - "7001:7001"
      - "17001:17001"
    networks:
      - redis-cluster-network

  redis-master-2:
    container_name: redis-master-2
    image: redis:latest
    command: >
      sh -c 'echo "bind 0.0.0.0" > /etc/redis.conf &&
            echo "port 7002" >> /etc/redis.conf &&
            echo "cluster-enabled yes" >> /etc/redis.conf &&
            echo "cluster-config-file node.conf" >> /etc/redis.conf &&
            echo "cluster-node-timeout 5000" >> /etc/redis.conf &&
            echo "cluster-announce-port 7002" >> /etc/redis.conf &&
            echo "cluster-announce-ip ${HOST_IP}" >> /etc/redis.conf &&
            echo "cluster-announce-bus-port 17002" >> /etc/redis.conf &&
            redis-server /etc/redis.conf'
    ports:
      - "7002:7002"
      - "17002:17002"
    networks:
      - redis-cluster-network

  redis-master-3:
    container_name: redis-master-3
    image: redis:latest
    command: >
      sh -c 'echo "bind 0.0.0.0" > /etc/redis.conf &&
            echo "port 7003" >> /etc/redis.conf &&
            echo "cluster-enabled yes" >> /etc/redis.conf &&
            echo "cluster-config-file node.conf" >> /etc/redis.conf &&
            echo "cluster-node-timeout 5000" >> /etc/redis.conf &&
            echo "cluster-announce-port 7003" >> /etc/redis.conf &&
            echo "cluster-announce-ip ${HOST_IP}" >> /etc/redis.conf &&
            echo "cluster-announce-bus-port 17003" >> /etc/redis.conf &&
            redis-server /etc/redis.conf'
    ports:
      - "7003:7003"
      - "17003:17003"
    networks:
      - redis-cluster-network

  redis-replica-1:
    container_name: redis-replica-1
    image: redis:latest
    command: >
      sh -c 'echo "bind 0.0.0.0" > /etc/redis.conf &&
            echo "port 7004" >> /etc/redis.conf &&
            echo "cluster-enabled yes" >> /etc/redis.conf &&
            echo "cluster-config-file node.conf" >> /etc/redis.conf &&
            echo "cluster-node-timeout 5000" >> /etc/redis.conf &&
            echo "cluster-announce-port 7004" >> /etc/redis.conf &&
            echo "cluster-announce-ip ${HOST_IP}" >> /etc/redis.conf &&
            echo "cluster-announce-bus-port 17004" >> /etc/redis.conf &&
            redis-server /etc/redis.conf'
    ports:
      - "7004:7004"
      - "17004:17004"
    networks:
      - redis-cluster-network

  redis-replica-2:
    container_name: redis-replica-2
    image: redis:latest
    command: >
      sh -c 'echo "bind 0.0.0.0" > /etc/redis.conf &&
            echo "port 7005" >> /etc/redis.conf &&
            echo "cluster-enabled yes" >> /etc/redis.conf &&
            echo "cluster-config-file node.conf" >> /etc/redis.conf &&
            echo "cluster-node-timeout 5000" >> /etc/redis.conf &&
            echo "cluster-announce-port 7005" >> /etc/redis.conf &&
            echo "cluster-announce-ip ${HOST_IP}" >> /etc/redis.conf &&
            echo "cluster-announce-bus-port 17005" >> /etc/redis.conf &&
            redis-server /etc/redis.conf'
    ports:
      - "7005:7005"
      - "17005:17005"
    networks:
      - redis-cluster-network

  redis-replica-3:
    container_name: redis-replica-3
    image: redis:latest
    command: >
      sh -c 'echo "bind 0.0.0.0" > /etc/redis.conf &&
            echo "port 7006" >> /etc/redis.conf &&
            echo "cluster-enabled yes" >> /etc/redis.conf &&
            echo "cluster-config-file node.conf" >> /etc/redis.conf &&
            echo "cluster-node-timeout 5000" >> /etc/redis.conf &&
            echo "cluster-announce-port 7006" >> /etc/redis.conf &&
            echo "cluster-announce-ip ${HOST_IP}" >> /etc/redis.conf &&
            echo "cluster-announce-bus-port 17006" >> /etc/redis.conf &&
            redis-server /etc/redis.conf'
    ports:
      - "7006:7006"
      - "17006:17006"
    networks:
      - redis-cluster-network

  redis-cluster-entry:
    container_name: redis-cluster-entry
    image: redis:latest
    command: redis-cli --cluster create redis-master-1:7001 redis-master-2:7002 redis-master-3:7003 redis-replica-1:7004 redis-replica-2:7005 redis-replica-3:7006 --cluster-replicas 1 --cluster-yes
    depends_on:
      - redis-master-1
      - redis-master-2
      - redis-master-3
      - redis-replica-1
      - redis-replica-2
      - redis-replica-3
    networks:
      - redis-cluster-network

networks:
  redis-cluster-network:
    driver: bridge
